<html>
    <head>
        <title>aRTiPee's blog</title>
    </head>
    	<div>
		    <h1>My First Blog :)</h1>
		</div>
    <body>
        <p>Hi there! Testing</p>
        <h1>QWERTY Testing</h1>
        <h4>ASDFGH Testing</h4>
        <p>It works! Testing</p>
    </body>
    <h1>Sample Testing</h1>
    <div>
	    <h3>Third Header Testing</h3>
	    <body>
	    	<ul>
	    		<li>
	    			<a href='http://www.twitter.com/artipee'>Twitter</a>
	    		</li>
	    		<li>
	    			<a href='http://www.instagram.com/artipee'>Instagram</a>
	    		</li>
	    	</ul>

	        <p><strong>Hi there! Testing</strong>
	        <br><em>Roman Tristan Pol</em></p>
	        <p>My <a href="http://www.facebook.com/romantristanpol">Facebook </a>account.</p>
	        <p>It works! Testing</p>
	    </body>
	</div>
</html>